
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f4f7f8;
}

form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

a {
    font-family: 'Special Elite', sans-serif;
    text-decoration: none;
    color: grey;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 70%;
}

h1 h2 {
  margin: 0 0 10px 0;
  text-align: center;
}

h1 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 1em;
  padding-bottom: 50px;
  font-weight: normal;
}

p {
  font-family: 'Special Elite', sans-serif;
}

input[type="text"],
input[type="password"],
input[type="radio"],
textarea,
select {
  font-family: 'Inconsolata', sans-serif;
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  padding-bottom: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  -webkit-transform: scale(2);
}

button {
  padding: 19px 39px 18px 39px;
  color: black;
  background-color: lightblue;
  text-align: center;
  font-style: normal;
  font-size: 200%;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #FFF;
  border-width: 3px;
  margin-bottom: 10px;
  font-family: 'Special Elite', sans-serif;
}

.icon {
    display: block;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.box {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px; 
    border-style: solid;
}


